.col-25{
    
    background-color: rgb(65, 3, 3);
}
.col-45{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size:x-large;
    margin-top:8px;
    margin-left: 12px;
}
.banner{
    margin-top: 0cm;
    font-family: cursive;    
    background-image: url("https://elcierredigital.com/images/carpeta_relacionados/2019/06/04/md/5503_bowser.jpg") 
    
}

.banner01{
    color: rgb(255, 255, 255);
    font-family: cursive;
    font-size: 150px;
    padding: 0px;
    background-size:100px;
    background-image: url("https://elcierredigital.com/images/carpeta_relacionados/2019/06/04/md/5503_bowser.jpg") 
    
}
.textintro{
    text-align: center;
    margin-right: 30px;
    margin-left: 30x;
}
.textintro2{
    font-style: oblique;
    text-align: center;
    margin-right:500px;
    margin-left: 100px;
}
.fotos{
    text-align: center;
}
.GM{
    background-image: url(https://cdn02.nintendo-europe.com/media/images/10_share_images/games_15/wiiu_download_software_5/H2x1_WiiUDS_HollowKnight_image1600w.jpg);
}
.textgm{
    padding: 50px;
    font-style: oblique;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blanchedalmond;
    background-image: url(https://cdn02.nintendo-europe.com/media/images/10_share_images/games_15/wiiu_download_software_5/H2x1_WiiUDS_HollowKnight_image1600w.jpg);
}
.contenedor-video{
	position:relative;
	text-align: center;
	size: 25%;
}